{{> header}}

<h3 class="question">{{question}}</h3>

{{!-- <img class="question-image" src="#"> --}}

<div class="buttons">
  <button>A Rock</button>
  <button>The Rock</button>
</div>

{{> footer}}
