{{> header}}

<h3 class="question">{{question}}</h3>

{{!-- <img class="question-image" src="#"> --}}

<div class="buttons">
  <button onclick="setChoice('a rock')">A Rock</button>
  <button onclick="setChoice('the rock')">The Rock</button>
</div>

<script href="routes.js"></script>

{{> footer}}
