<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question</title>
</head>
<body>

  {{> header}}

  <h3 class="question">{{question}}</h3>

  {{!-- <img class="question-image" src="#"> --}}

  <div class="buttons">
    
    

<a href="/answer/{{id}}/a">A Rock</a>
<a href="/answer/{{id}}/the">The Rock</a>

  {{> footer}}

    
</body>
</html>



