/* https://www.color-hex.com/color-palette/14798 */
body, html {height: 100%}
html {
  background-color: 	#f1f42e;
  font-family: "Amatic SC", sans-serif;
}

h1 {
  color: #e862aa;
  font-size: 6em;
  text-align: center;
}

h2 {
  color: 	#05cbc5;
  font-size: 5em;
  text-align: center;
}

h3 {
  color: 	#05cbc5;
  font-size: 4em;
  text-align: center;
}


h4 {
  color: 	#05cbc5;
  font-size: 2em;
  text-align: center;
}

a {
  /* background-color: red; */
  color: #05cbc5;
  /* padding: 1em 1.5em; */
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #2a364a;
}

h5,h6 {
 font-size: 6em;
  color: 		#05cbc5;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}





